# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('resources/hawaii_measurements.csv')
# drop any NaN in the dataframe
df = df.dropna()

In [3]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])

In [4]:
# Set the date column as the DataFrame index
reset_df = df.set_index('date')

### Compare June and December data across all years

In [5]:
from scipy import stats

In [6]:
# Filter data for desired months
june_temp_df = df[df['date'].dt.month == 6]
dec_temp_df = df[df['date'].dt.month == 12]
june_temp_df.head()

         station       date  prcp  tobs
133  USC00519397 2010-06-01  0.00    78
134  USC00519397 2010-06-02  0.01    76
135  USC00519397 2010-06-03  0.00    78
136  USC00519397 2010-06-04  0.00    76
137  USC00519397 2010-06-05  0.00    77

In [7]:
june_temp_df.tobs.count()

1574

In [8]:
dec_temp_df.tobs.count()

1405

In [9]:
# Identify the average temperature for June
june_temp_avg = june_temp_df.tobs.mean()
# Identify the average temperature for December
dec_temp_avg = dec_temp_df.tobs.mean()
print(f'The average temperature at all stations across all available years in the dataset:')
print("*********************************************************************************")
print(f'June: {june_temp_avg.round(2)} F')
print(f'December: {dec_temp_avg.round(2)} F')
print("******************")

The average temperature at all stations across all available years in the dataset:
*********************************************************************************
June: 74.89 F
December: 70.93 F
******************

In [10]:
# Create collections of temperature data
temp_df = pd.DataFrame({'month': ['June', 'December'], 'temp_avg': [june_temp_avg, dec_temp_avg]})
temp_df = temp_df.dropna()

In [11]:
# Run paired t-test
from scipy.stats import ttest_rel

ttest_rel(june_temp_avg, dec_temp_avg)

/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3584: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
/opt/anaconda3/envs/ucsdvevn/lib/python3.6/site-packages/numpy/core/_methods.py:209: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Ttest_relResult(statistic=nan, pvalue=nan)

### Analysis